@media only screen and (max-width: 1100px){
    #contact-section{
        height: auto;
        background: linear-gradient(black, #033FAF);
    }
    #container{
        width: 100%;
        height: auto;
        flex-direction: column;
    }
    #contact-container{
        height: auto;
        width: 100%;
        margin-bottom: 0;
    }
    #contact-form-container{
        height: auto;
        width: 100%;
        padding-top: 75px;
        padding-bottom: 75px;
    }
    #contact-form{
        width: 70%;
        padding: 50px 50px;
    }
}

@media only screen and (max-width: 600px){
    #contact-form{
        width: 90%;
        padding: 50px 50px;
    }
}